@model MVC_Studnt_exam.Models.FeedbackViewModel
@{
    ViewBag.Title = "SaveFeedback";
    Layout = "~/Areas/StudentArea/Views/Shared/studentlayout.cshtml";
}



<h2>Submit Feedback</h2>

@using (Html.BeginForm("SaveFeedback", "Exam", FormMethod.Post))
{
    <div class="form-group">
        <label for="UserFeedback">Your Feedback:</label>
        @Html.TextAreaFor(model => model.UserFeedback, new { @class = "form-control", rows = 5 })
    </div>

    <button type="submit" class="btn btn-primary">Submit Feedback</button>
}
